{% extends 'base.html.twig' %}

{% block title %}Latest movies{% endblock %}

{% block body %}
    <h1>Latest movies</h1>
    {% for movie in latest_movies %}
        {% if loop.first %}
            <ul>
        {% endif %}

            <li><a href="{{ path('app_movie_details', {id: movie.id}) }}">{{ movie.title }}</a></li>

        {% if loop.last %}
            </ul>
        {% endif %}
    {% else %}
        No movie found
    {% endfor %}
{% endblock %}
