<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for id, movie in movies %}
                <li class="nav-item">
                    {% set path = path('app_movie_details', {id: id + 1}) %}
                    <a
                            class="{{ html_classes('nav-link', {active: main_request_path is same as path}) }}"
                            href="{{ path }}"
                    >{{ movie.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>